.item:nth-of-type(1n + 1) {
  grid-column: span 2;
}
.item:nth-of-type(2n + 2) {
  grid-column: span 2;
}
.item:nth-of-type(3n + 3) {
  grid-column: span 1;
}
.item:nth-of-type(4n + 4) {
  grid-column: span 3;
}
.item:nth-of-type(5n + 5) {
  grid-column: span 3;
}
.item:nth-of-type(6n + 6) {
  grid-column: span 1;
}
.item:nth-of-type(7n + 7) {
  grid-column: span 2;
}
.item:nth-of-type(8n + 8) {
  grid-column: span 2;
}
.item:nth-of-type(9n + 9) {
  grid-column: span 1;
}
.item:nth-of-type(10n + 10) {
  grid-column: span 3;
}
.item:nth-of-type(11n + 11) {
  grid-column: span 3;
}
.item:nth-of-type(12n + 12) {
  grid-column: span 1;
}
.item:nth-of-type(13n + 13) {
  grid-column: span 2;
}
.item:nth-of-type(14n + 14) {
  grid-column: span 2;
}
.item:nth-of-type(15n + 15) {
  grid-column: span 1;
}
.item:nth-of-type(16n + 16) {
  grid-column: span 3;
}
.item:nth-of-type(17n + 17) {
  grid-column: span 3;
}
.item:nth-of-type(18n + 18) {
  grid-column: span 1;
}
.item:nth-of-type(19n + 19) {
  grid-column: span 2;
}
.item:nth-of-type(20n + 20) {
  grid-column: span 2;
}
.item:nth-of-type(21n + 21) {
  grid-column: span 1;
}
.item:nth-of-type(22n + 22) {
  grid-column: span 3;
}
.item:nth-of-type(23n + 23) {
  grid-column: span 3;
}
.item:nth-of-type(24n + 24) {
  grid-column: span 1;
}
.item:nth-of-type(25n + 25) {
  grid-column: span 2;
}
.item:nth-of-type(26n + 26) {
  grid-column: span 2;
}
.item:nth-of-type(27n + 27) {
  grid-column: span 1;
}
.item:nth-of-type(28n + 28) {
  grid-column: span 3;
}
.item:nth-of-type(29n + 29) {
  grid-column: span 3;
}
.item:nth-of-type(30n + 30) {
  grid-column: span 1;
}
.item:nth-of-type(31n + 31) {
  grid-column: span 2;
}
.item:nth-of-type(32n + 32) {
  grid-column: span 2;
}
.item:nth-of-type(33n + 33) {
  grid-column: span 1;
}
.item:nth-of-type(34n + 34) {
  grid-column: span 3;
}
.item:nth-of-type(35n + 35) {
  grid-column: span 3;
}
.item:nth-of-type(36n + 36) {
  grid-column: span 1;
}
.item:nth-of-type(37n + 37) {
  grid-column: span 2;
}
.item:nth-of-type(38n + 38) {
  grid-column: span 2;
}
.item:nth-of-type(39n + 39) {
  grid-column: span 1;
}
.item:nth-of-type(40n + 40) {
  grid-column: span 3;
}
